<%- include("header") -%>

<h2>ALexander Msumba</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus cum ullam labore recusandae aut? Dicta, atque temporibus. Ducimus unde voluptates dicta rem neque? Obcaecati eveniet nostrum necessitatibus. Eum, ullam exercitationem!</p>

<%- include("footer") -%>